# folders that contains test images
testCases
extreme
temp

# any leftover image
*.jpg

# python cached data
__pycache__
*.pyc

# macOS folder file
.DS_Store

# npm node modules from nodejs app
node_modules